<h2 [className]="'team-fullname ' + team.division.toLowerCase()"><i>{{ team.full_name }}</i></h2>
<table>
    <tr>
        <td class="header">Città</td>
        <td>{{team.city}}</td>
    </tr>
    <tr>
        <td class="header">Nome</td>
        <td>{{team.name}}</td>
    </tr>
    <tr>
        <td class="header">Abbreviazione</td>
        <td>{{team.abbreviation}}</td>
    </tr>
    <tr>
        <td class="header">Conference</td>
        <td>{{team.conference}}</td>
    </tr>
    <tr>
        <td class="header">Division</td>
        <td>{{team.division}}</td>
    </tr>
</table>
<hr>